* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fffaf5;
  color: #333;
}

/* Header */
header {
  background: #4b2e2e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}


nav a:hover {
  color: #f4c27a;
}

/* Hero */
.hero {
  background: linear-gradient(to right, #f7971e, #ffd200);
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 36px;
}

/* Sections */
section {
  padding: 50px 20px;
  max-width: 1100px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #4b2e2e;
}

/* Menu */
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.menu-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #f4c27a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Cart */
#cart ul {
  list-style: none;
  padding: 0;
}

#cart li {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Footer */
footer {
  background: #4b2e2e;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
#feedback {
  background: #fff3cd;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

#feedback input,
#feedback textarea {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
}

#feedback button {
  padding: 10px 20px;
  background: #4b2e2e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


